<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>

    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/main.css">

    <script src="../js/addPlayer.js" type="module"></script>
</head>
<body class="flex-col-center-center">
    <h1>ADD PLAYER</h1>
    <form id="add-player-form" class="flex-col">
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname" required>
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" required>
        <label for="shortname">Short Name:</label>
        <input type="text" id="shortname" name="shortname">
        <button type="submit">Add Player</button>
    </form>
</body>
</html>