<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>

    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/main.css">

    <script src="../js/menu.js" type="module"></script>
</head>
<body class="flex-col-center-center">
    <header>FOOS</header>
    <nav class="flex-col">
        <a href="" role="button">New 4 Player Game</a>
        <a href="" role="button">New 2 Player Game</a>
        <a href="" role="button">Player Results</a>
        <a href="" role="button">Game Results</a>
        <a href="" role="button">ELO</a>
        <a href="addPlayer" role="button">Add New Player</a>
    </nav>
    <video src="../videos/SloMoFoos_720p.mp4" autoplay muted loop playsinline id="panorama" class="page-center"></video>
</body>
</html>