:root {
    --color-1 : rgb(31, 151, 71);
}

* {
    box-sizing: border-box;
    margin: 0;
    /* border: 1px solid black */
    padding: 0;
    color: white;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12pt;
}

html, body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: gray;
}

main {
    flex: 1;
}

/* Utility Classes */

[hidden] {
    display: none !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}
.flex-row-between-start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-col-start {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
