:root {
    --btn-bg : rgb(189, 189, 189);
    box-sizing: border-box;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    min-width: 500px;
}
body {
    background-image: url("../images/bg.png");
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    font-size: 10rem;
    font-weight: bold;
    color: rgb(46, 129, 57);
    -webkit-text-stroke: 4px rgb(97, 187, 109);
}

/* Utility */

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-col-center-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
