nav {
    width: 60%;
    gap: 10px;
}

a[role=button] {
    border: 2px solid black;
    padding: 5px;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: var(--btn-bg);

    &:hover {
        filter: brightness(0.8);
    }
    &:active {
        filter: brightness(0.6);
    }
}

video#panorama {
    width: 120%;
    z-index: -1;
    filter: blur( 8px ) brightness( 0.8 );
}